# Data Preprocessing

The goal of this lab is to introduce you to data preprocessing techniques in order to make your data suitable for applying a learning algorithm.

## 1. Handling Missing Values

A common (and very unfortunate) data property is the ocurrence of missing and erroneous values in multiple features in our dataset.
Download the dataset and corresponding information from the <a href="http://www.cs.uni-potsdam.de/ml/teaching/ss15/ida/uebung02/abalone.csv">course website</a>.

To determine the age of a abalone snail you have to kill the snail and count the annual
rings. You are told to estimate the age of a snail on the basis of the following attributes:
1. type: male (0), female (1) and infant (2)
2. length in mm
3. width in mm
4. height in mm
5. total weight in grams
6. weight of the meat in grams
7. drained weight in grams
8. weight of the shell in grams
9. number of annual rings (number of rings +1, 5 yields age)

However, these data is incomplete. Missing values are marked with âˆ’1.

In [1]:
import pandas as pd

# load data 
df = pd.read_csv("http://www.cs.uni-potsdam.de/ml/teaching/ss15/ida/uebung02/abalone.csv")
df.columns=['type','length','width','height','total_weight','meat_weight','drained_weight','shell_weight','num_rings']
df.head()

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
0,0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,-1
1,1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
2,0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
3,2,-1.000,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
4,2,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8

### Exercise 1.1

Compute the mean of all positive numbers of each numeric column and the counts of each category.

In [12]:
##################
#INSERT CODE HERE#
##################
for column in df.columns:
    if column != 'type':
        print("\n\nColumn name: " + column + "   Mean: " + str(df[column][df[column] > 0].mean()))

Column name: length   Mean: 0.5236920039486674


Column name: width   Mean: 0.40795533070089013


Column name: height   Mean: 0.13967901234567806


Column name: total_weight   Mean: 0.8288428746928771


Column name: meat_weight   Mean: 0.3592626511972346


Column name: drained_weight   Mean: 0.18024858618146095


Column name: shell_weight   Mean: 0.23860444280805088


Column name: num_rings   Mean: 9.921756193279371

### Exercise 1.2

Compute the median of all positive numbers of each numeric column.

In [13]:
##################
#INSERT CODE HERE#
##################
for column in df.columns:
    if column != 'type':
        print("\n\nColumn name: " + column + "   Median: " + str(df[column][df[column] > 0].median()))

Column name: length   Median: 0.545


Column name: width   Median: 0.425


Column name: height   Median: 0.14


Column name: total_weight   Median: 0.80175


Column name: meat_weight   Median: 0.336


Column name: drained_weight   Median: 0.1705


Column name: shell_weight   Median: 0.2335


Column name: num_rings   Median: 9.0

### Exercise 1.3

Handle the missing values in a way that you find suitable. Argue your choices.

In [ ]:
##################
#INSERT CODE HERE#
##################

### Exercise 1.4

Perform Z-score normalization on every column (except the type of course!)

In [19]:
##################
#INSERT CODE HERE#
##################
for column in df.columns:
    if column != 'type':
        val = df[column][df[column] > 0]
        mean = val.median()
        std = val.std() 
        print("\n\nColumn name: " + column + "   \nZ-score: \n" + str(((val - mean) / std)))

Column name: length
Z-score:
0      -1.621138
1      -0.124703
2      -0.872920
4      -0.997623
5      -0.124703
6       0.000000
7      -0.581947
8       0.041568
10     -0.956056
11     -0.457244
12     -0.083135
13     -0.623515
14     -0.374109
15     -1.579570
16     -0.872920
17     -1.496435
18     -0.789785
19     -1.579570
20     -1.371732
21      0.166271
22      0.041568
23      0.581947
24      0.124703
25      0.290973
26      0.374109
27      0.498812
28      0.249406
29      0.290973
30      1.122326
31      0.997623
          ...
4146    1.247029
4147    1.870544
4148   -2.203085
4149   -1.787409
4150   -1.621138
4151   -1.454867
4152   -0.956056
4153   -0.914488
4154   -0.872920
4155   -0.581947
4156   -0.581947
4157   -0.540379
4158    0.124703
4159    0.332541
4160    0.332541
4161   -1.330165
4162   -1.288597
4163   -1.288597
4164   -1.163894
4165   -0.581947
4166   -0.374109
4167   -0.249406
4168   -0.207838
4169    0.041568
4170    0.124703
4171    0.166271
4172    0.374109
4173    0.457244
4174    0.665082
4175    1.371732
Name: length, Length: 4052, dtype: float64


Column name: width
Z-score:
0      -1.611170
1      -0.050349
2      -0.604189
3      -1.711868
4      -1.258727
5      -0.100698
6       0.000000
7      -0.553840
8       0.151047
9      -0.453142
10     -0.755236
11     -0.453142
12     -0.201396
13     -0.704887
14     -0.251745
15     -1.460123
16     -0.855934
17     -1.309076
18     -1.057330
19     -1.460123
20     -1.510472
21      0.151047
22     -0.100698
23      0.553840
24      0.151047
25      0.251745
26      0.201396
27      0.503491
28      0.000000
29      0.453142
          ...
4145    1.057330
4146    1.258727
4147    1.812567
4148   -2.114661
4149   -1.963614
4150   -1.762217
4151   -1.460123
4152   -1.107680
4153   -0.956632
4154   -0.755236
4155   -0.553840
4156   -0.654538
4157   -0.704887
4158    0.151047
4159    0.503491
4160    0.302094
4161   -1.711868
4162   -1.158029
4163   -1.359425
4164   -1.258727
4165   -0.604189
4166   -0.453142
4167   -0.251745
4169    0.050349
4170    0.050349
4171    0.251745
4172    0.151047
4173    0.503491
4174    0.604189
4175    1.309076
Name: width, Length: 4052, dtype: float64


Column name: height
Z-score:
0      -1.201379
1      -0.120138
2      -0.360414
3      -1.441655
4      -1.081241
5       0.240276
6      -0.360414
7      -0.360414
8       0.240276
9       0.000000
10     -0.720828
11     -0.120138
12      0.120138
13     -0.961103
14     -0.240276
15     -1.321517
16     -0.961103
17     -1.441655
18     -0.961103
19     -1.081241
20     -0.961103
21      0.360414
22     -0.120138
23      0.600690
24      0.000000
25      1.081241
26      0.000000
27      0.961103
28      0.000000
29      0.600690
          ...
4146    1.321517
4147    0.840965
4148   -1.681931
4149   -1.441655
4150   -1.561793
4151   -1.201379
4152   -0.600690
4153   -1.081241
4154   -0.720828
4155   -0.720828
4156    0.000000
4157   -0.720828
4158   -0.120138
4159    0.600690
4160    0.720828
4161   -0.961103
4162   -1.321517
4163   -0.961103
4164   -1.321517
4165   -0.600690
4166   -0.360414
4167   -0.360414
4168    0.600690
4169   -0.240276
4170    0.360414
4171    0.600690
4172   -0.120138
4173    1.561793
4174    0.240276
4175    1.321517
Name: height, Length: 4050, dtype: float64


Column name: total_weight
Z-score:
0      -1.176806
1      -0.254762
2      -0.583553
3      -1.218671
4      -0.919492
5      -0.049523
6      -0.068924
7      -0.596827
8       0.189412
9      -0.398736
10     -0.808193
11     -0.531477
12     -0.239446
13     -0.666261
14     -0.280289
15     -1.044065
16     -0.716295
17     -1.115541
18     -0.859247
19     -1.135963
20     -1.176806
21      0.281310
22     -0.078113
23      0.734674
24      0.258846
25      0.395672
26      0.263952
27      0.275184
28      0.126105
29      0.399757
          ...
4144    1.917097
4145    1.446374
4146    1.761891
4147    2.550172
4148   -1.384088
4149   -1.351413
4150   -1.291168
4151   -1.192123
4152   -0.853121
4153   -0.834741
4154   -0.860268
4155   -0.637671
4156   -0.588658
4158    0.001532
4159    0.513098
4160    0.393630
4161   -0.988926
4162   -0.934808
4163   -1.056318
4164   -1.017516
4165   -0.618270
4166   -0.458980
4167   -0.381377
4168   -0.021953
4169    0.077092
4170    0.134273
4171    0.174096
4172    0.335428
4173    0.764286
4175    2.341870
Name: total_weight, Length: 4070, dtype: float64


Column name: meat_weight
Z-score:
0      -1.062450
1      -0.357145
2      -0.541333
3      -1.107374
4      -0.876016
5      -0.444746
6      -0.188680
7      -0.536840
8      -0.096586
9      -0.637919
10     -0.756967
11     -0.532348
12     -0.285267
13     -0.756967
14     -0.350406
15     -1.082666
16     -0.664873
17     -1.073681
18     -0.743490
19     -1.080419
20     -1.150051
21      0.411054
22     -0.080863
23      0.795153
24      0.208896
25      0.262805
26      0.089848
27      0.260559
28      0.256066
29      0.258312
          ...
4145    1.473503
4146    1.756524
4147    2.086714
4148   -1.226422
4149   -1.255622
4150   -1.134328
4151   -1.062450
4152   -0.662627
4153   -0.525609
4154   -0.801891
4155   -0.527856
4156   -0.426777
4157   -0.606472
4158    0.062893
4159    0.548071
4161   -0.893985
4162   -0.696320
4163   -0.945648
4164   -0.835584
4165   -0.467208
4166   -0.300990
4167   -0.222373
4168    0.175203
4169   -0.092094
4170    0.287513
4171    0.152741
4172    0.462716
4173    0.851308
4174    0.876016
4175    2.738111
Name: meat_weight, Length: 4051, dtype: float64


Column name: drained_weight
Z-score:
0      -1.115908
1      -0.265257
2      -0.516794
3      -1.198229
4      -0.850651
5      -0.265257
6      -0.192083
7      -0.530514
8      -0.178362
9      -0.210376
10     -0.818638
11     -0.690582
12      0.004573
13     -0.823211
14     -0.343005
15     -1.198229
16     -0.763757
17     -1.166215
18     -0.873518
19     -0.992427
20     -1.111335
21      0.397885
22      0.361298
23      1.193656
25      0.928399
26      0.580821
27      0.443619
28      0.516794
29      0.653995
30      1.006147
          ...
4145    2.186082
4146    1.733316
4147    3.251683
4148   -1.362871
4149   -1.225670
4150   -1.234816
4151   -1.061027
4152   -0.905532
4153   -0.873518
4154   -0.740890
4155   -0.580821
4156   -0.603688
4157   -0.745463
4158   -0.082321
4159    0.425326
4160    0.846078
4161   -0.937546
4162   -0.923826
4164   -1.097615
4165   -0.750037
4166   -0.402459
4167   -0.434472
4168    0.086894
4169    0.228670
4170    0.013720
4171    0.626555
4172    0.402459
4173    1.070174
4174    0.827784
4175    1.884238
Name: drained_weight, Length: 4067, dtype: float64


Column name: shell_weight
Z-score:
0      -1.175154
1      -0.168906
2      -0.564218
3      -1.282967
4      -0.815780
5       0.693593
6       0.190468
7      -0.492343
8       0.621718
10     -0.707968
11     -0.312656
13     -0.348593
14      0.046719
15     -0.851717
16     -0.743905
17     -0.959530
18     -0.851717
19     -1.139217
20     -1.067342
21      0.262343
22     -0.240781
23      0.513905
24      0.477968
25      0.370156
26      0.334218
27      0.442030
28     -0.240781
29      0.693593
30      1.627966
31      0.837342
          ...
4146    1.520154
4147    0.873280
4148   -1.462654
4149   -1.347654
4150   -1.383591
4151   -1.236248
4152   -0.887655
4153   -1.042186
4154   -0.851717
4155   -0.628905
4156   -0.564218
4157   -0.672030
4158    0.183281
4159    0.477968
4160    0.366562
4161   -1.017029
4162   -1.110467
4163   -1.096092
4164   -1.045779
4165   -0.557030
4166   -0.574999
4167   -0.409687
4168   -0.373749
4169    0.050312
4170   -0.032344
4171    0.111406
4172    0.194062
4173    0.535468
4174    0.449218
4175    1.879528
Name: shell_weight, Length: 4074, dtype: float64


Column name: num_rings
Z-score:
1       0.000000
2       0.309840
3      -0.619679
4      -0.309840
5       3.408237
6       2.168878
7       0.000000
8       3.098397
9       1.549199
10      0.309840
11      0.619679
12      0.309840
13      0.309840
14      0.929519
15     -0.619679
17     -0.619679
18      0.000000
19      0.619679
20      0.309840
21      0.929519
22      0.000000
23      0.309840
24      0.619679
25      0.619679
26      0.929519
27      1.859038
28      0.619679
29      0.309840
30      1.859038
31      2.788558
          ...
4146    0.619679
4147    0.619679
4148   -0.929519
4149   -0.619679
4150   -0.929519
4151   -0.619679
4152   -0.309840
4153   -0.929519
4154   -0.929519
4155   -0.309840
4156   -0.309840
4157   -0.309840
4158    0.000000
4159    0.619679
4160    0.619679
4161   -0.309840
4162   -0.619679
4163   -0.619679
4164   -0.619679
4165    0.309840
4166    0.000000
4167   -0.309840
4168    0.309840
4169    0.309840
4170   -0.309840
4171    0.619679
4172    0.309840
4173    0.000000
4174    0.309840
4175    0.929519
Name: num_rings, Length: 4077, dtype: float64

## 2. Preprocessing text (Optional)

One possible way to transform text documents into vectors of numeric attributes is to use the TF-IDF representation. We will experiment with this representation using the 20 Newsgroup data set. The data set contains postings on 20 different topics. The classification problem is to decide which of the topics a posting falls into. Here, we will only consider postings about medicine and space.

In [ ]:
from sklearn.datasets import fetch_20newsgroups

categories = ['sci.med', 'sci.space']
raw_data = fetch_20newsgroups(subset='train', categories=categories, shuffle=True, random_state=42)
print 'The index of each category is: {}'.format([(i,target) for i,target in enumerate(raw_data.target_names)])

Check out some of the postings, might find some funny ones!

In [ ]:
idx = np.random.randint(0, len(raw_data.data))
print 'This is a {} email.\n'.format(raw_data.target_names[raw_data.target[idx]])
print 'There are {} emails.\n'.format(len(raw_data.data))
print(raw_data.data[idx])

Lets pick the first 10 postings from each category

In [ ]:
idxs_med = np.flatnonzero(raw_data.target == 0)
idxs_space = np.flatnonzero(raw_data.target == 1)
idxs = np.concatenate([idxs_med[:10],idxs_space[:10]])
data = np.array(raw_data.data)
data = data[idxs]

<a href="http://www.nltk.org/">NLTK</a> is a toolkit for natural language processing. Take some time to install it and go through this <a href="http://www.slideshare.net/japerk/nltk-in-20-minutes">short tutorial/presentation</a>.

The downloaded package below is a tokenizer that divides a text into a list of sentences, by using an unsupervised algorithm to build a model for abbreviation words, collocations, and words that start sentences.

In [ ]:
import nltk
import itertools
nltk.download('punkt')

# Tokenize the sentences into words
tokenized_sentences = [nltk.word_tokenize(sent) for sent in data]
vocabulary_size = 1000
unknown_token = 'unknown'

In [ ]:
# Count the word frequencies
word_freq = nltk.FreqDist(itertools.chain(*tokenized_sentences))
print "Found %d unique words tokens." % len(word_freq.items())

In [ ]:
# Get the most common words and build index_to_word and word_to_index vectors
vocab = word_freq.most_common(vocabulary_size-1)
index_to_word = [x[0] for x in vocab]
index_to_word.append(unknown_token)
word_to_index = dict([(w,i) for i,w in enumerate(index_to_word)])
 
print "Using vocabulary size %d." % vocabulary_size
print "The least frequent word in our vocabulary is '%s' and appeared %d times." % (vocab[-1][0], vocab[-1][1])

### Exercise 2.1

Code your own TF-IDF representation function and use it on this dataset. (Don't use code from libraries. Build your own function with Numpy/Pandas)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
countvec = CountVectorizer()
df = pd.DataFrame(countvec.fit_transform(data).toarray(), columns=countvec.get_feature_names())

def tfidf(df):
    
    ##################
    #INSERT CODE HERE#
    ##################
    
    return rep

rep = tfidf(df)

# Check if your implementation is correct
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(norm=None, smooth_idf=False, use_idf=True)
X_train = pd.DataFrame(vectorizer.fit_transform(data).toarray(), columns=countvec.get_feature_names())
answer=['No','Yes']
if rep is not None:
    print 'Is this implementation correct?\nAnswer: {}'.format(answer[1*np.all(X_train == rep)])